*{
    font-family: 'Cairo', sans-serif;
}
html, body {
    

    background: rgb(193, 220, 239);
    
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}